
<main>
    <div id="formatoCarousel">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h1 id="tituloCarousel">Instrumentos de Cuerdas</h1>
                   <a routerLink="productos"><img src="/images/guitarra.jpg" class="d-block w-100" id="formatoImagen" alt="..."></a> 
                </div>
                <div class="carousel-item">
                    <h1 id="tituloCarousel">Instrumentos de Viento</h1>
                    <a routerLink="productos"><img src="https://i.imgur.com/DpBsGbO.jpg" class="d-block w-100" id="formatoImagen" alt="..."></a>
    
                </div>
                <div class="carousel-item">
                    <h1 id="tituloCarousel">Bateria y percusión</h1>
                    <a routerLink="productos"><img src="https://i.imgur.com/VWcVo7S.jpg" class="d-block w-100" id="formatoImagen" alt="..."></a>
                </div>
                <div class="carousel-item">
                    <h1 id="tituloCarousel">Otros Productos</h1>
                    <a routerLink="productos"><img src="https://i.imgur.com/VMukayz.jpg" class="d-block w-100" id="formatoImagen" alt="..."></a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</main>
