<main class="container">
            <div class="form-container" id="formulario">
                <form action="/login" method="post">
                    <h1 class="Titulorojo">
                        Ingresar
                    <i class="bi-person-check-fill" role="img" aria-label="person"></i>
                    </h1>
                    <div>
                        <label for="email">Correo electronico</label>
                        <input type="text" class="form-control" name="email" id="email" placeholder="fede.ford7@gmail.com">
                    </div>
                    <div>
                        <label for="email">Contraseña</label>
                        <input type="password" class="form-control" name="contraseña" id="contraseña" placeholder="**********">
                    </div>
                    <div class="login">
                        <button class="btn btn-dark">
                           Login
                        </button>
                    </div>
                </form>
                <button class="btn btn-dark">
                    <a href="/">Volver</a>
                 </button>
                 
            </div>
          
        
    </main>