<body>
    
<main class="container">
          
        <div class="form-container" id="formulario">
            <form action="/new-product" method="post">
                <h1 class="Titulorojo">
                    Ingresar producto
                </h1>
                <div>
                    <label for="descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="">
                </div>
                <div>
                    <label for="precio">Precio</label>
                    <input type="precio" class="form-control" name="precio" id="precio" placeholder="">
                </div>
                <div>
                    <label for="image_url">URL de la imagen</label>
                    <input type="text" class="form-control" name="image_url" id="image" placeholder="">
                </div>
                
                <div class="login">
                    <button class="btn btn-dark">
                       Enviar
                    </button>
                </div>
                <button class="btn btn-dark">
                    <a href="index.html">Volver</a>
                 </button>
            </form>
        </div>
        
    
</main>
</body>


 