<body>
    
<main class="container">
          
        <div class="form-container" id="formulario">
            <form action="/new-user" method="post">
                <h1 class="Titulorojo">
                    Registrarse
                <i class="bi-person-check-fill" role="img" aria-label="person"></i>
                </h1>
                <div>
                    <label for="email">Ingrese su Correo electronico</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="">
                </div>
                <div>
                    <label for="email">Ingrese su Contraseña</label>
                    <input type="password" class="form-control" name="contraseña" id="contraseña" placeholder="">
                </div>
                
                <div class="login">
                    <button class="btn btn-dark">
                       Enviar
                    </button>
                </div>
                <button class="btn btn-dark">
                    <a href="index.html">Volver</a>
                 </button>
            </form>
        </div>
        
    
</main>
</body>
