<div class="container">
    <h1 id="success">
        Usuario registrado exitosamente
    </h1>
    <div id="success">
       <a href="/login">
    <button class="btn btn-dark">volver</button>
    </a>
    </div>
</div>