

<div class="container">
    <div class="row">
        {{#each result}}
        <div class="col-4 mt-3">
            <div class="bg-dark text-white p-4">
                <span class="h2">
                    {{email}} {{contraseña}} 
                </span>
            </div><br>   
        </div>
        {{/each}}
    </div>
</div>
